.header {
    padding-top: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__box {
    display: flex;
    gap: 30px;
}

.header__text {
    max-width: 255px;
    width: 100%;
    color: #2B2A28;
    font-family: "Gilroy";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1.04px;
}

.header__best {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 26px;
}