@mixin btn {
    color: #FFF;
    text-align: center;
    font-family: "Gilroy";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #F39C32;
    background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
    box-shadow: 0px 4px 4px 0px rgba(203, 135, 52, 0.20);
    margin: 0;
    padding: 0 25px;
    padding-top: 17px;
    padding-bottom: 12px;
}